<nav class="navbar navbar-expand-md navbar-light p-3" style="background-color: rgb(70, 72, 240);">
    <div class="container-fluid" >
        <a class="navbar-brand" style="font-weight:300 ;font-size: 50px; " href="#">Admin-Dashboard</a>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link mx-2" routerLink="/vocabulary-list" routerLinkActive="active"
                        style="color: black;font-size: 20px; ">Vocabulary</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2" routerLink="/users-list" routerLinkActive="active"
                        style="color: black;font-size: 20px;">Users</a>
                </li>
            </ul>
        </div>
    </div>
    <hr> <!-- เส้นข้างล่าง -->
</nav>
