<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <h1 class="mt-3">Add English-Thai Dictionary</h1>
        <div class="card shadow-sm">
            <div class="card-body">
                <!-- เพิ่มการแสดงข้อความสำเร็จหรือข้อผิดพลาด -->
                <div *ngIf="successMessage" class="alert alert-success" role="alert">
                    {{ successMessage }}
                </div>
                <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
                    {{ errorMessage }}
                </div>
                <form (ngSubmit)="onFormSubmit()">
                    <div class="mt-2">
                        <div class="mb-3">
                            <label for="english_word" class="form-label">English Word</label>
                            <input type="text" id="english_word" class="form-control" name="english_word" [(ngModel)]="vocabulary.english_word">
                        </div>
                        <div class="mb-3">
                            <label for="thai_word" class="form-label">Thai Word</label>
                            <input type="text" id="thai_word" class="form-control" name="thai_word" [(ngModel)]="vocabulary.thai_word">
                        </div>
                        <div class="mt-3 d-flex justify-content-between align-items-center">
                            <button type="submit" class="btn btn-primary">Save</button>
                            <a class="btn btn-primary" [routerLink]="['/vocabulary-list']">Back</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
