@import url("https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap");


.router-outlet {
    font-family: "VinaSans";
}

.custom-spinner {
    background-color: rgba(51, 51, 51, 0.8);
}

.custom-spinner {
    color: white;
    border: 16px solid #f3f3f3;
    font-size: 50px;
}
