<app-navbar></app-navbar>
<div class="card">
  <div class="card shadow">
    <div class="row">
      <div class="d-flex justify-content-center">
        <div class="col">
          <input type="text" class="form-control mt-3" placeholder="Search" aria-label="Search"
            aria-describedby="basic-addon2" [(ngModel)]="searchTerm">
        </div>
        <div class="col text-end mt-3">
          <div>
            <a routerLink="/add-word" class="btn btn-success">Add New</a>
          </div>
        </div>

      </div>
    </div>

    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr class="text-center">
              <th>ID</th>
              <th>english_word</th>
              <th>thai_word</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody class="text-center">
            <!-- เราจะใช้ *ngFor ในการวน loop ข้อมูลของคำศัพท์ทั้งหมด -->
            <tr *ngFor="let vocabulary of filterData(searchTerm)">
              <td>{{ vocabulary.id }}</td>
              <td>{{ vocabulary.english_word }}</td>
              <td>{{ vocabulary.thai_word }}</td>
              <!-- ปรับปรุงลิงก์ไปยังหน้าแก้ไขเพื่อส่งพารามิเตอร์ ID ของคำศัพท์ -->
              <td><a [routerLink]="['/edit-word/', vocabulary.id]" class="btn btn-primary">Edit</a></td>
              <td><button type="button" class="btn btn-danger" (click)="onDelete(vocabulary.id)">Delete</button></td>

            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>