@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");

h1 {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
}



.home-content {
  padding: 20px;
}
