<app-navbar></app-navbar>
<div class="content">
    <div class=" d-flex card-deck justify-content-center mt-5 ">
        <div class="card text-center me-5 ms-8" style="width: 300px;">
            <div class="card-body">
                <h1 class="card-title">Total Users</h1>
                <p class="card-text fs-1"> {{ userCount }}</p>
            </div>
            <div class="card-footer">
                <fa-icon class="fs-5" [icon]="faUser"></fa-icon>
            </div>
        </div>
        <div class="card text-center" style="width: 300px;">
            <div class="card-body">
                <h1 class="card-title">Total Vocabulary</h1>
                <p class="card-text fs-1">{{ vocabularyCount }}</p>
            </div>
            <div class="card-footer">
                <fa-icon class="fs-5" [icon]="faBook"></fa-icon>
            </div>
        </div>
    </div>
</div>


<div class="home-content">


</div>